{% extends 'layout.html' %}
{% block title %}
Welcome Back!
Login here:
{% endblock %}


{% block content %}
<h1 class="formHeading"><span>Welcome Back! Login here: </span> </h1>

    <form class="login-form-validation" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
    {{form}}
    <!--secret code to gather the next page -->
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}"/>
    {% endif %}
    <button class="buttonstyles">Submit</button>
    </form>
{% endblock %}